@import url(reset.css);

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

::placeholder {
    font-size: 0.9em;
}

body {
    font-family: "Arial", sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.form-div {
    font-size: 3.7rem;
    min-height: 30rem;
    min-width: 60rem;
    margin-top: 10rem;
    padding: 2.3rem;
    border: .75rem solid black;
    border-radius: .1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, output {
    display: inline-block;
    font-size: 0.9em;
    margin: 1rem 0;
    outline: none;
}

input[type="submit"] {
    height: 4.5rem;
    width: 37.5%;
    border: .45rem solid black;
    background-color: orange;
    border-radius: .1rem;
    font-size: 0.9em;
    cursor: pointer;
}

input[type="text"] {
    width: 75%;
    padding: .3rem;
    font-size: 0.9em;
    height: 4.7rem;
    border: .45rem solid black;
    border-radius: .1rem;
}

h2 {
    margin-bottom: 1.5rem;
}

.result {
    margin-top: 4.5rem;
}